<a href="https://colab.research.google.com/github/santhoshBjeeffy/Pandas/blob/master/Filtering_sorting_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This time we will be learning more about filtering and sorting and dataset will be directly downloaded from internet.

In [0]:
import pandas as pd

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [4]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [20]:
#clean the item price column and transform in to float
#prices= [float(value[1:-1]) for value in chipo.item_price]

#reassign the column values with the updated values
#chipo.item_price = prices

#convert thr item_price to float
chipo['item_price']=chipo['item_price'].astype(float)

#delete the duplicate in the item name and quantity
chipo_filtered=chipo.drop_duplicates(['item_name','quantity'])

#select only the quantity equal to 1
chipo_one_prod=chipo_filtered[chipo_filtered.quantity == 1]

chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

In [21]:
chipo.head()

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

What is the price of each item?

print a data frame with only two columns item_name and item_price¶

In [27]:
#delete the duplicates in item name and quantity
#chipo_filtered=chipo.drop_duplicates(['item_name','quantity'])

chipo[(chipo['item_name']== 'Chicken Bowl') & chipo['quantity'] == 1].head(10)

#select only the products quantity equal to 1
#chipo_one_prod=chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
#price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
#price_per_item.sort_values(by = "item_price", ascending = False).head(20)

     order_id  ...  item_price
5           3  ...       10.98
13          7  ...       11.25
19         10  ...        8.75
26         13  ...        8.49
42         20  ...       11.25
76         34  ...        8.75
78         34  ...        8.75
99         44  ...        8.75
110        49  ...        8.75
123        54  ...       11.25

[10 rows x 5 columns]

In [30]:
#sort by the name of the item

chipo.item_name.sort_values().head(10)

#or
chipo.sort_values(by="item_name")

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
3422      1373  ...        6.49
553        230  ...        6.49
1916       774  ...        6.49
1922       776  ...        6.49
1937       784  ...        6.49
3836      1537  ...        6.49
298        129  ...        6.49
1976       798  ...        6.49
1167       481  ...        6.49
3875      1554  ...        6.49
1124       465  ...        6.49
3886      1558  ...        6.49
2108       849  ...        6.49
3010      1196  ...        6.49
4535      1803  ...        6.49
4169      1664  ...        6.49
4174      1666  ...        6.49
4527      1800  ...        6.49
4522      1798  ...        6.49
3806      1525  ...        6.49
2389       949  ...        6.49
3132      1248  ...        6.49
3141      1253  ...        6.49
639        264  ...        6.49
1026       422  ...        6.49
...        ...  ...         ...
2996      1192  ...        8.49
3163      1263  ...        8.49
4084      1635  ...        8.49
1694       686  ...        8.49
2756      1094  ...        8.49
4201      1677  ...       11.25
1884       760  ...       11.25
455        195  ...       11.25
3223      1289  ...       11.25
2223       896  ...        8.75
2269       913  ...        8.75
4541      1805  ...        8.75
3293      1321  ...        8.75
186         83  ...       11.25
960        394  ...        8.75
1316       536  ...        8.75
2156       869  ...       11.25
4261      1700  ...       11.25
295        128  ...       11.25
4573      1818  ...        8.75
2683      1066  ...        8.75
496        207  ...       11.25
4109      1646  ...       11.25
738        304  ...       11.25
3889      1559  ...       16.98
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

# Expensive item price ordered?

In [32]:
chipo.sort_values(by='item_price',ascending=False).head(1)

      order_id  quantity  ... choice_description item_price
3598      1443        15  ...                NaN      44.25

[1 rows x 5 columns]

#How many times the chiken bowl was ordered?

In [37]:
chipo_chiken_bowl=chipo[chipo.item_name == "Chicken Bowl"]
len(chipo_chiken_bowl)

726

# How many times people ordered more than once canned soda?

In [45]:
canned_soda=chipo[(chipo.item_name== "Canned Soda") & (chipo.quantity > 1)]
len(canned_soda)

20

In [46]:
chipo['item_name'].unique() # to list the all unique values of particular column

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [50]:
chipo[chipo.item_name== 'Canned Soda']  #for particular column with value <asked in wipro>

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
28          14         1  Canned Soda       [Dr. Pepper]        1.09
51          23         2  Canned Soda     [Mountain Dew]        2.18
53          24         1  Canned Soda           [Sprite]        1.09
107         47         1  Canned Soda       [Dr. Pepper]        1.09
117         51         1  Canned Soda  [Diet Dr. Pepper]        1.09
126         55         1  Canned Soda        [Coca Cola]        1.09
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
179         81         1  Canned Soda        [Coca Cola]        1.09
180         81         1  Canned Soda       [Dr. Pepper]        1.09
195         87         1  Canned Soda        [Coca Cola]        1.09
200         89         1  Canned Soda        [Diet Coke]        1.09
228        100         1  Canned Soda     [Mountain Dew]        1.09
246        108         1  Canned Soda     [Mountain Dew]        1.09
247        108         1  Canned Soda       [Dr. Pepper]        1.09
248        108         1  Canned Soda     [Mountain Dew]        1.09
251        109         1  Canned Soda  [Diet Dr. Pepper]        1.09
261        113         1  Canned Soda     [Mountain Dew]        1.09
280        122         1  Canned Soda        [Coca Cola]        1.09
317        138         1  Canned Soda        [Diet Coke]        1.09
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
370        160         1  Canned Soda        [Diet Coke]        1.09
378        164         1  Canned Soda     [Mountain Dew]        1.09
414        180         1  Canned Soda       [Dr. Pepper]        1.09
434        188         1  Canned Soda        [Coca Cola]        1.09
438        190         1  Canned Soda       [Dr. Pepper]        1.09
473        202         1  Canned Soda  [Diet Dr. Pepper]        1.09
622        256         1  Canned Soda       [Dr. Pepper]        1.09
...        ...       ...          ...                ...         ...
2906      1156         2  Canned Soda           [Sprite]        2.18
2961      1177         1  Canned Soda           [Sprite]        1.09
3006      1195         1  Canned Soda        [Coca Cola]        1.09
3020      1201         1  Canned Soda  [Diet Dr. Pepper]        1.09
3062      1220         1  Canned Soda       [Dr. Pepper]        1.09
3145      1254         1  Canned Soda  [Diet Dr. Pepper]        1.09
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3162      1262         1  Canned Soda        [Coca Cola]        1.09
3221      1288         1  Canned Soda     [Mountain Dew]        1.09
3254      1303         1  Canned Soda           [Sprite]        1.09
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3434      1379         1  Canned Soda           [Sprite]        1.09
3476      1396         1  Canned Soda        [Coca Cola]        1.09
3477      1396         1  Canned Soda       [Dr. Pepper]        1.09
3498      1405         1  Canned Soda  [Diet Dr. Pepper]        1.09
3575      1434         1  Canned Soda       [Dr. Pepper]        1.09
3576      1434         1  Canned Soda        [Coca Cola]        1.09
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3683      1475         1  Canned Soda        [Coca Cola]        1.09
3715      1484         1  Canned Soda       [Dr. Pepper]        1.09
3716      1484         1  Canned Soda       [Dr. Pepper]        1.09
3718      1485         1  Canned Soda  [Diet Dr. Pepper]        1.09
3740      1494         1  Canned Soda           [Sprite]        1.09
3793      1518         1  Canned Soda        [Diet Coke]        1.09
3866      1550         2  Canned Soda     [Mountain Dew]        2.18
3897      1562         1  Canned Soda     [Mountain Dew]        1.09
3926      1575         1  Canned Soda       [Dr. Pepper]        1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]        1.09
4008      1604         1  Canned Soda        [Diet Coke]        1.09
4051      1621         1  Canned Soda           [Sprite]        1.09

[104 rows x 5 columns]