In [0]:
#Getting kknow your data and we will be directly loading the data from the URL.
#import libraries
import numpy as np
import pandas as pd

In [0]:
#load the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv(url,sep='\t')

In [4]:
#view first 10 entries
chipo.head(10)
#chipo.tail(10) #last 10 entries

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

What is the no of observations in the dataset?

In [5]:
chipo.shape[0]  #solution 1 #Rows

4622

In [6]:
chipo.info() #solution2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

What is the number of columns in the dataset?

In [7]:
chipo.shape[1]  #columns

5

Print all the names of columns

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

How dataset is indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Which was the most ordered item?

In [10]:
c=chipo.groupby('item_name')
c=c.sum()
c=c.sort_values(['quantity'],ascending=False)
c.head(2)

                 order_id  quantity
item_name
Chicken Bowl       713926       761
Chicken Burrito    497303       591

which was the most ordered item in the choice_description column?

In [11]:
c1=chipo.groupby('choice_description').sum()
c1=c1.sort_values(['quantity'],ascending=False)
c1.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

How Many items ordered in a total?

In [12]:
total_items_ordered=chipo.quantity.sum()
total_items_ordered

4972

Turn the item price type in to float

In [13]:
chipo.item_price.dtype

dtype('O')

create a lambda function to change the type to float

In [0]:
dollarizer=lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [15]:
chipo.item_price.dtype

dtype('float64')

 How much was the revenue for the period in the dataset?

In [16]:
revenue=(chipo['quantity'] * chipo['item_price']).sum()
print("revenue is $" +str(np.round(revenue,2)))

revenue is $39237.02

How many orders were made in the period?

In [17]:
orders=chipo.order_id.value_counts().count()
orders

1834

what is the average revenue amount per order?

In [18]:
#solution 1
chipo['revenue']=(chipo['quantity'] * chipo['item_price'])
ordered_grouped=chipo.groupby(by=['order_id']).sum()
ordered_grouped.mean()['revenue']

21.394231188658654

In [19]:
#solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

How many different items are sold?

In [20]:
chipo.item_name.value_counts().count()

50