<a href="https://colab.research.google.com/github/santhoshBjeeffy/Pandas/blob/master/Merge_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

The following exercise utilizes data from UC Irvine Machine Learning Repository

In [4]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]
    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

In [7]:
cars1=cars1.loc[:, 'mpg':'car']
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [9]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

#Join cars1 and cars2 into a single DataFrame called cars

In [0]:
cars=cars1.append(cars2)

In [11]:
cars.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [12]:
cars.shape

(398, 9)

In [14]:
nr_owners=np.random.randint(15000,high=75000,size=398,dtype='l')
nr_owners

array([52279, 34817, 46142, 73590, 46942, 66620, 27572, 62686, 15448,
       21078, 62499, 71117, 64888, 28383, 57584, 57080, 23858, 48812,
       59418, 48231, 68187, 39371, 43992, 39452, 71431, 29003, 26314,
       49980, 34119, 46332, 33337, 58528, 49686, 59200, 18320, 32849,
       36177, 43258, 20176, 64352, 53471, 34417, 74144, 17542, 21942,
       28847, 58480, 38381, 43405, 64593, 55387, 37544, 22436, 15330,
       37525, 59887, 25559, 73881, 44892, 69975, 74999, 73724, 73548,
       45573, 47309, 26776, 56414, 72419, 49690, 40117, 47163, 34156,
       51954, 48648, 16220, 50174, 56181, 73286, 59672, 33625, 33074,
       41344, 73659, 72787, 17360, 37382, 46851, 49478, 31776, 65322,
       72355, 35006, 43533, 28259, 35183, 62501, 61048, 66867, 25681,
       35205, 34004, 32638, 60539, 64239, 62324, 35699, 15987, 70923,
       47962, 15721, 23068, 62497, 24779, 59696, 61259, 32601, 39440,
       30978, 48710, 41807, 63443, 37744, 44942, 17307, 50678, 42376,
       42443, 64921, 56778, 19835, 71602, 29003, 52627, 26212, 15424,
       17374, 32185, 71512, 28035, 33043, 31530, 44479, 51364, 28761,
       72128, 19592, 26040, 37882, 35905, 53125, 51687, 73624, 24138,
       35056, 36909, 73563, 29482, 39902, 36856, 23989, 53181, 33395,
       30436, 30181, 50981, 69720, 37313, 26079, 44811, 28088, 36386,
       32231, 70224, 17824, 35015, 40565, 44606, 47496, 24975, 25892,
       66413, 42752, 54741, 27724, 71765, 33103, 64255, 50784, 56590,
       23410, 38721, 38528, 57790, 57346, 73399, 63943, 29712, 24782,
       60335, 40137, 53696, 17245, 54757, 41196, 49026, 71462, 62432,
       71357, 66690, 74021, 56333, 58228, 55762, 63448, 72857, 34348,
       69866, 60400, 49974, 64674, 61039, 15369, 62018, 70306, 63936,
       48921, 21757, 32996, 47873, 48752, 58094, 51048, 56062, 62815,
       17759, 16019, 32759, 60880, 74841, 66281, 46407, 72254, 31536,
       41396, 60046, 56599, 15328, 56658, 59270, 50215, 59137, 26089,
       38752, 29818, 62038, 19501, 60949, 40916, 60151, 59983, 26533,
       63565, 54482, 63129, 20240, 23123, 57858, 74940, 27392, 34743,
       35335, 49938, 18632, 37423, 42945, 44521, 45416, 15700, 29740,
       66829, 22638, 30040, 68493, 73817, 61595, 15983, 56438, 24865,
       20730, 30351, 46810, 45934, 54291, 44063, 68919, 67572, 38675,
       65846, 35475, 39531, 74789, 18987, 72948, 69419, 24808, 47171,
       43033, 32514, 55823, 27115, 68696, 67573, 34650, 39410, 15144,
       57116, 53632, 33646, 17638, 47688, 74507, 25509, 28560, 57816,
       43327, 47043, 46876, 57271, 46960, 60358, 26921, 50917, 33375,
       47196, 35694, 72776, 34825, 28838, 36961, 49654, 39329, 70900,
       58619, 50190, 45891, 52670, 69106, 71633, 53226, 15047, 19155,
       65256, 65207, 51444, 58393, 71034, 66523, 50621, 53417, 58035,
       49839, 60003, 60831, 68982, 65068, 39364, 46651, 26199, 19096,
       39474, 56329, 43031, 23390, 48383, 63186, 52965, 23150, 34741,
       53386, 31038, 25469, 73852, 33610, 41340, 57913, 33699, 54448,
       61515, 64120, 63042, 54822, 35536, 50585, 68918, 51207, 44158,
       74094, 47475])

In [16]:
cars['owners']=nr_owners
cars.tail()

      mpg  cylinders  displacement  ... origin              car  owners
195  27.0          4           140  ...      1  ford mustang gl   68918
196  44.0          4            97  ...      2        vw pickup   51207
197  32.0          4           135  ...      1    dodge rampage   44158
198  28.0          4           120  ...      1      ford ranger   74094
199  31.0          4           119  ...      1       chevy s-10   47475

[5 rows x 10 columns]